*~
.hydra
*pyc
demonstration_data
datasets
results
demo_videos
outputs/*
/MUJOCO_LOG.TXT
.DS_Store
wandb
videos*
experiments/

docs/build
docs/doctrees


**/__pycache__
*/__pycache__
packnet_tmp.pth
run_chongkai.sh

clip/
gpt/
bert/
logs/
imgs/
genlogs

